In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
tweets = pd.read_csv('../data/politifact_tweets.csv')

In [3]:
tweets.head()

,tweet_id,retweeted_id,created_at,favorite_count,retweet_count,user_id,location,verified,followers_count,source,text,fake,news_id
0,890268075.0,0,Sun Aug 17 15:47:34 +0000 2008,0,0,15189613,NaN,False,113.0,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",'usa: The Long Run - Response to 9/11 Offers O...,0.0,636
1,890634203.0,0,Mon Aug 18 01:46:24 +0000 2008,0,0,15209631,NaN,False,68.0,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",'d: The Long Run - Response to 9/11 Offers Out...,0.0,636
2,889821427.0,0,Sun Aug 17 00:53:16 +0000 2008,0,0,14882359,in my room,False,49.0,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",'From New York Times - The Long Run: Response ...,0.0,636
3,890475518.0,0,Sun Aug 17 21:28:05 +0000 2008,0,0,7094562,NaN,False,155.0,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",'New blog post: Response to 9/11 Offers Outlin...,0.0,636
4,957911564.0,0,Mon Oct 13 17:46:26 +0000 2008,0,0,15209631,NaN,False,68.0,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",'d: The Long Run - Response to 9/11 Offers Out...,0.0,636

In [4]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 422647 entries, 0 to 422646
Data columns (total 13 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tweet_id         422624 non-null  float64
 1   retweeted_id     422647 non-null  object
 2   created_at       422647 non-null  object
 3   favorite_count   422647 non-null  object
 4   retweet_count    422647 non-null  object
 5   user_id          422647 non-null  int64
 6   location         312858 non-null  object
 7   verified         422601 non-null  object
 8   followers_count  422601 non-null  float64
 9   source           422601 non-null  object
 10  text             422601 non-null  object
 11  fake             422601 non-null  float64
 12  news_id          422647 non-null  int64
dtypes: float64(3), int64(2), object(8)
memory usage: 41.9+ MB

In [5]:
# tweet_id
tweets = tweets[np.isnan(tweets.tweet_id) == False]
tweets['tweet_id'] = tweets['tweet_id'].astype(int)

In [6]:
# retweeted_id
#print(tweets['retweeted_id'].value_counts())
#print(len(tweets[tweets['retweeted_id'] == '0']))
#print(len(tweets[tweets['retweeted_id'] == False]))
tweets['retweeted_id'] = tweets['retweeted_id'].replace('0', False) # all with the same values and can be dropped
tweets = tweets.drop('retweeted_id', axis = 1)

In [7]:
# created_at
def process_date(d):
    try:
        date = d.split(' ')
        month = date[1]
        day = date[2]
        time = date[3]
        year = date[-1]
        return (pd.to_datetime(year + '-' + month + '-' + day + ' ' + time))
    except:
        pass

In [8]:
tweets.created_at = tweets.created_at.apply(process_date)

In [9]:
# favorite_count
tweets.favorite_count = tweets.favorite_count.astype(int)

In [10]:
# retweet_count
tweets.retweet_count = tweets.retweet_count.astype(int)

In [11]:
# source
def process_source(s):
    try:
        s = str(s).replace('</a>','')
        s = s.split('>')[1]
        return s
    except:
        pass

In [12]:
tweets.source = tweets.source.apply(process_source)

In [13]:
outputpath='../data/politifact_tweets_processed.csv'
tweets.to_csv(outputpath, index = False, header = True)