In [1]:
import pandas as pd
import numpy as np
import os
from os import listdir

In [2]:
df_tweets = pd.DataFrame()
path = "politifact/tweets/"
dirs = os.listdir(path)
for file in dirs:
    news_id = str(file).replace('politifact','').replace('.csv','')
    tweet  = pd.read_csv(os.path.join('politifact/tweets/', file))
    df_tweet = pd.DataFrame(tweet)
    df_tweet['news_id'] = news_id
    if df_tweet.shape[0] != 0:
        df_tweets = pd.concat([df_tweets, df_tweet])

In [3]:
df_tweets.head()

,tweet_id,retweeted_id,created_at,favorite_count,retweet_count,user_id,location,verified,followers_count,source,text,fake,news_id
0,890268075.0,0,Sun Aug 17 15:47:34 +0000 2008,0,0,15189613,NaN,False,113.0,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",'usa: The Long Run - Response to 9/11 Offers O...,0.0,636
1,890634203.0,0,Mon Aug 18 01:46:24 +0000 2008,0,0,15209631,NaN,False,68.0,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",'d: The Long Run - Response to 9/11 Offers Out...,0.0,636
2,889821427.0,0,Sun Aug 17 00:53:16 +0000 2008,0,0,14882359,in my room,False,49.0,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",'From New York Times - The Long Run: Response ...,0.0,636
3,890475518.0,0,Sun Aug 17 21:28:05 +0000 2008,0,0,7094562,NaN,False,155.0,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",'New blog post: Response to 9/11 Offers Outlin...,0.0,636
4,957911564.0,0,Mon Oct 13 17:46:26 +0000 2008,0,0,15209631,NaN,False,68.0,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",'d: The Long Run - Response to 9/11 Offers Out...,0.0,636

In [4]:
df_tweets.shape

(422647, 13)

In [5]:
outputpath='polififact_tweets.csv'
df_tweets.to_csv(outputpath, index = False, header = True)